body{
    background-color: #908e8e;
}

.hoofdpagina{
    background-color: #dccece;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: center;
}

#button_loc{
   display: flex;
   justify-content: center;
}

.start_button{
    background-color: #f2f2f2;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}
.start_button:hover{
    background-color: lightgray;
    color: black;
}
.start_button:active{
    background-color: darkgray;
    color: black;
}
